#main {
    display: flex;
    background-color: #8e8e8e;
}

#graph {
    width: 80%;
    height: 100%;
}

#viewer {
    background-color: #7e7e7e;
    color: #ffffff;
}

h3 {
    margin-left: 30px;
}

#graph .node {
    width: 150px;
    height: auto;
    background-color: #6e6e6e;
    border-radius: 3px;
    margin: 10px;
}

#graph .node .op_title {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    margin: 0px;
}

body {
    margin: 0px;
}

.subtitle {
    width: 200px;
    margin-right: 20px;
    text-align: right;
    margin-left: 30px;
}

.context {
    width: 300px;
    background-color: #8e8e8e;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 2.5px;
}

.contexttype {
    font-size: 12px;
    padding-left: 4px;
}

.info {
    font-weight: 100;
}
